
@keyframes fade-up{
    0% {
        opacity: 0;
        transform: translateY(-1.6vw) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(0vw) scale(1);
    }
}

@keyframes cursor{
    50% { border-color: transparent }
}

@keyframes typimg{
    from { width: 0 }
}

a{
    color: #352438;
}

a:hover{
    color: #623d69;
    cursor: none;
}

.accordion{
   /* margin: 60px auto; */
   width: 50%;
   float: left;
}


.accordion li{
   list-style: none;
   width: 100%;
   margin: 1.4vw;
   padding: 1.2vw;
   border-radius: 0.9vw;
   background: none;
}


.accordion li label{
   display: inline-block;
   align-items: center;
   padding: 1.2vw;
   font-size: 1.35vw;
   font-weight: 500;
   cursor: cursor-dot;
}


label::before{
   content: '+';
   margin-right: 1.2vw;
   font-size: 1.43vw;
   font-weight: 600;
}


input[type="radio"]{
   display: none;
}


.accordion .content{
   color:#e8dab2;
   padding:0 1.2vw;
   line-height: 1.5vw;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.5s, padding 0.5s;
}


.accordion input[type="radio"]:checked + label + .content{
   max-height: 21.3vw;
   padding: 0.8vw 0.8vw 1.4vw;
}


.accordion input[type="radio"]:checked + label::before{
   content: '-'
}


body{
    background-color: #0b1423;
    color: #e8dab2;
    width: 100%;
    overflow-x: hidden;
    overflow-x: clip !important;
}

html{
    cursor: none;
}

.cursor-dot{
    width: 1.2vw;
    height: 1.2vw;
    background-color: white;
    z-index: 4;
}

.cursor-outline{
    width: 1.6vw;
    height: 1.6vw;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
    z-index: 4;
}

.cursor-dot, 
.cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 4;
    pointer-events: none;
    color: white;
}


.card {
    transition: 0.3s;
    width: 100%;
    background-color: #e8dab2;
    /* margin-left: 1.2vw; */
    border-radius: 0vw;
    /* animation: fade-up 0.7s; */
    color: #352438;
}

p, h4, h2, h1{
    animation: fade-up 0.7s;
    font-size: 1.6vw;
}

.card2 {
    transition: 0.3s;
    width: 100%;
    background-color: #e8dab2;
    margin-left: 1.2vw;
    border-radius: 0vw;
    animation: fade-up 0.7s;
    color: #352438;
}
.column{
    float: left;
    width: 100%;
    padding: 1.2vw;
}

.row{
    width: 100%;
    clear: both;
    margin-bottom: 3vw;
}

.column1{
    float: left;
    width: 50%;
    
    /* padding: 1.2vw;
    padding-right: 50px; */
}

.bottom-right.inView {
    opacity: 1;
    -webkit-transform: translateY(0vw) rotate(0deg) translateZ(0);
    transform: translateY(0vw) rotate(0deg) translateZ(0);
    margin-top: 1.4vw;
}
.inView {
    opacity: 1;
    -webkit-transform: translateY(0vw) rotate(0deg) translateZ(0);
    transform: translateY(0vw) rotate(0deg) translateZ(0);
    margin-top: 1.4vw;
}
section {
    padding:1.4vw;
    margin-top: 1.4vw;
}

.card1 {
    /* transition: 0.3s;
    width: 200px;
    height: 200px;
    background-color: rgba(238,238,238, 0.8);
    margin-left: 550px;
    height:400px; */
    transition: 0.3s;
    width: 100%;
    margin-top: none;
    background-color: #e8dab2;
    margin-left: 0vw;
    animation: fade-up 0.5s;
    -webkit-transform: translateY(3vw) rotate(-5deg) translateZ(0);
    transform: translateY(3vw) rotate(-5deg) translateZ(0);
    -webkit-transition-delay: .9s;
    -o-transition-delay: .9s;
    transition-delay: .9s;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 0;
}

img{
    object-fit: cover;
}

.container {
    padding: 1.8vw 1.8vw;
    display: inline-block;
}


.sidenav {
    background-color: #b6b8d6;
    height: 3.7vw;
    width: 100%;
    position: fixed;
    font-size: 1.6vw;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 0.2vw;
    font-family: 'Darker Grotesque';
    box-sizing: border-box;
    
}

.sidenav a {
    padding: 0.8vw 0.3vw 8vw 1.62vw;
    margin-top:-0.8vw;
    margin-right: 0px;
    text-decoration: none;
    text-align: right;
    font-size: 1.6vw;
    /* color: #eeeeee;  */
    
    color: #0b1423; 
    /* display: block; */
    font-size:medium;
    cursor: none;
}

.sidenav a:hover {
    color: #623d69;
    cursor: none;
}

/* @media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
} */

.title1{
    margin-top: 3vw;
    font-family: 'Darker Grotesque'; 
    text-align: left; margin-bottom: 1.4vw; font-size: 6.4vw; margin-left: 0vw; width: 100%;
}



.image{
    margin-left: 30vw;
}
#workshops{
    display: none;
    margin-bottom: 6.5vw;
    margin-top: 3vw;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#howtogetinvolved{
    display: none;
    margin-bottom: 6.5vw;
    margin-top: 3vw;
}
#aboutus{
    display: block;
    margin-bottom: 6.5vw;
    margin-top: 3vw;
}
#events{
    display:none;
    margin-bottom: 6.5vw;
    margin-top: 3vw;
}
#footer {
    width: 100%;
    height: 21vw;
    background-color: #b6b8d6;
    color: #0b1423;
    text-align: left;
    padding-top: 1.6vw;
    margin-top: 1.2vw;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Darker Grotesque';
    /* position: relative; */
    z-index: 0;



    /* position: fixed;
    position: absolute;  */

}   
.foot-text {
    width: 50%;
}

@media (max-width: 768px) {
body{
    font-size: 25px; 
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 1.6;
}
.sidenav {
    height: auto;
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    padding: 15px 0;
    font-size: 22px;
}

.sidenav a {
    padding: 0 8px;
  /*  width: 100%; */
    float: none;
    font-size: 22px;
    display: inline;
    vertical-align: middle;
}
    
.card, .card2 {
    width: 100%; 
    margin: 20px 0;
    min-height: 20px;
    padding: 25px;
}
.accordion {
        width: 100%;
        float: none;
    }
 .accordion li{
     padding: 22px;
     margin: 15px 0;
}

 .accordion li label{
   font-size: 24px;
   line-height: auto;
   padding: 0 15px;
}
    
.accordion .content{
   padding: 0 10px;
   line-height: 2;
   font-size: 20px; 
} 

.title1{
    margin-top: 20px;
    font-size: 2.5rem; 
}

.column{
    float: none;
    width: 100%;
    padding: 20px;
}

.row{
    margin-bottom: 30px;
}

.column1{
    float: none;
    width: 100%;
    padding: 20px;
}
#footer {
    width: 100%;
    height: auto;
    text-align: center; 
    float: none;
    background-color: #b6b8d6 !important;   
    margin-top: auto;
    z-index: 2;

}   
.foot-text {
    width: 100%;
    text-align: center; 
    background-color: #b6b8d6 !important;  
    font-size: 22px
}

 p, h4, h2, h1 {
        font-size: 20px;
        animation: none;
}
    
 h2 {
    font-size: 24px;
}
    
h1 {
    font-size: 30px;
}

 .cursor-dot, .cursor-outline {
        display: none; 
 }

img{
max-width: 100%;
height: auto;
}

}
